<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sally Bot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
</head>

<body>
<style>
    html, body { padding: 0; margin: 0; }
    body {
        font-family: "ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #f2f7fa;
    }
    h1 {
        font-weight: 300;
        font-size: 40px;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
    }

    .container {
        text-align: center;
        padding: 20px;
        background-color: white;
        width: 60%;
        margin: 20px auto;
        border-radius: 10px;
        box-shadow: 3px 3px 10px 1px #15334e2b;
    }

</style>

<div class="content-box">
    <div class="container">
        <img src="https://cdn.shopify.com/s/files/1/2698/3700/files/sally_fb_icon_white.png?9133779576256027821" style="width: 150px; height: auto" />
        <header>
            <h1 class="os-step__title"><%= title %></h1>
        </header>
        <pre style="text-align: left"><%= message %></pre>
    </div>
</div>
</body>
</html>